{% extends 'layout.html' %} {% block content %}
<style>
    /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
    
    #map {
        height: 100vh;
        /*        width: 75vw;
*/
    }
    
    .nav-wrapper {
        background-color: #7a75b5;
    }
</style>

<div class="row">
    <div class="card col m8 s12" id="map"></div>
    <div class="col m4 s12">
        <div class="card  teal lighten-1">
            <div class="card-content white-text">
                <div class="row">
                    <div class="col s8">
                        <select class="activity-option">
                              <option value="" disabled selected>Activity</option>
                            </select>
                    </div>
                    <div class="col s2">
                        <input placeholder="Time" class="timepicker">
                    </div>
                    <div class="col s2">
                        <a onclick="Materialize.toast('Activity added!', 1000, 'rounded')" class="activity-btn btn-floating btn-small waves-effect waves-teal white
    "><i class="material-icons">add</i></a>
                    </div>
                </div>

                <div class="row">
                    <div class="col s8">
                        <select class="hotel-option">
                              <option "value="" disabled selected>Hotel</option>
                            </select>
                    </div>
                    <div class="col s2">
                        <input placeholder="Time" class="timepicker">
                    </div>
                    <div class="col s2">
                        <a onclick="Materialize.toast('Hotel added!', 1000, 'rounded')" class="hotel-btn btn-floating btn-small waves-effect waves-teal  white
    "><i class="material-icons">add</i></a>
                    </div>
                </div>

                <div class="row">
                    <div class="col s8">
                        <select class="restaurant-option">
                              <option value="" disabled selected>Restaurant</option>
                            </select>
                    </div>
                    <div class="col s2">
                        <input placeholder="Time" class="timepicker">
                    </div>
                    <div class="col s2">
                        <a onclick="Materialize.toast('Restaurant added!', 1000, 'rounded')" class="restaurant-btn btn-floating btn-small waves-effect waves-teal white
    "><i class="material-icons">add</i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card  teal lighten-1">
            <div class="card-content white-text">
                <span class="card-title">Day</span>
                <div class="row">
                    <div class="col s10">
                        <input placeholder="Select" type="date" class="datepicker">
                    </div>
                    <div class="col s2">
                        <a onclick="Materialize.toast('Day added!', 1000, 'rounded')" class="clear-btn btn-floating btn-small waves-effect waves-teal white"><i class="material-icons">clear</i></a>
                    </div>

                </div>
                <ul class="collapsible" data-collapsible="expandable">
                    <li>
                        <div class="collapsible-header white black-text"><i class="material-icons">location_city</i>Hotel</div>
                        <div class="collapsible-body white black-text hotel-chosen"></div>
                    </li>
                    <li>
                        <div class="collapsible-header white black-text"><i class="material-icons">golf_course</i>Activities</div>
                        <div class="collapsible-body white black-text activity-chosen"></div>
                    </li>
                    <li>
                        <div class="collapsible-header white black-text"><i class="material-icons">restaurant</i>Restaurant</div>
                        <div class="collapsible-body white black-text restaurant-chosen"></div>
                    </li>
                </ul>


            </div>
        </div>
    </div>
</div>

<script>
    var map;

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {
                lat: 40.7050,
                lng: -74.009
            },
            zoom: 16,
            zoomControl: true,
            scrollwheel: false
        });
    }
</script>


<!--         <div class="row">
            <div class ="col m6" id="map"></div>
        </div> -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_ZZ8jN0msgHOId8p4rNEuUHwCaFNJNBI&callback=initMap" async defer></script>

<script>
  var hotels = {{ hotels | dump | safe }};
  var restaurants = {{ restaurants | dump | safe }};
  var activities = {{ activities | dump | safe }};
  var hotelSelected; 
  var activitySelected;
  var restaurantSelected;
  var clearBtn = "<a onclick="+ '"Materialize.toast('+"'Day added!', 1000, 'rounded'"+ ')"'+ 'class="clear-btn btn-floating btn-small waves-effect waves-teal white"><i class="material-icons">clear</i></a>';

  for (var i = 0; i < hotels.length; i++) {
    $('.hotel-option').append('<option value="' + hotels[i]['id'] + '">' + hotels[i]['name'] + '</option>');

  }

  for (var i = 0; i < activities.length; i++) {
    $('.activity-option').append('<option value="' + activities[i]['id'] + '">' + activities[i]['name'] + '</option>');
  }

  for (var i = 0; i < restaurants.length; i++) {
    $('.restaurant-option').append('<option value="' + restaurants[i]['id'] + '">' + restaurants[i]['name'] + '</option>');
  }

  // select option listener
  $('.activity-option').change(function () {
    activitySelected = $('.activity-option option:selected').text();
  });

  $('.hotel-option').change(function () {
    hotelSelected = $('.hotel-option option:selected').text();
  });

  $('.restaurant-option').change(function () {
    restaurantSelected = $('.restaurant-option option:selected').text();
  });

  // buttton event listener
  $('.activity-btn').on('click', function () {
    $('.activity-chosen').append('<div>'+'<span>' + $('select.activity-option option:checked').text() + '</span>'+ clearBtn +'</div>');
  });

  $('.hotel-btn').on('click', function () {
    $('.hotel-chosen').append('<div>'+'<span>' + $('select.hotel-option option:checked').text() + '</span>'+ clearBtn +'</div>');
  });

  $('.restaurant-btn').on('click', function () {
    $('.restaurant-chosen').append('<div>'+'<span>' + $('select.restaurant-option option:checked').text() + '</span>'+ clearBtn +'</div>');
  });

  $('.collapsible').on('click', '.clear-btn', function () {
    $(this).parent().remove();
  });

</script>

{% endblock %}